prototype/chain-manager/patch.*
.eqc-info
.eunit
deps
erl_crash.dump
.concrete/DEV_MODE
.rebar
edoc

# Dialyzer stuff
.dialyzer-last-run.txt
.ebin.native
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
*.plt

# PB artifacts for Erlang
include/machi_pb.hrl

# Release packaging
rel/machi

# Misc Scott cruft
*.patch
current_counterexample.eqc
foo*
RUNLOG*
typescript*
*.swp
