prototype/chain-manager/patch.*
.dialyzer-last-run.txt
.eqc-info
.eunit
deps
*.plt
erl_crash.dump
.concrete/DEV_MODE
.rebar
edoc
.local_dialyzer_plt

# PB artifacts for Erlang
include/machi_pb.hrl

# Release packaging
rel/machi

# Misc Scott cruft
*.patch
current_counterexample.eqc
foo*
typescript*
