{require_otp_vsn, "17"}.

%%% {erl_opts, [warnings_as_errors, {parse_transform, lager_transform}, debug_info]}.
{erl_opts, [{parse_transform, lager_transform}, debug_info]}.
{edoc_opts, [{dir, "./edoc"}]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "2.2.0"}}},
        {protobuffs, "0.8.*", {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}},
        {riak_dt, ".*", {git, "git://github.com/basho/riak_dt.git", {branch, "develop"}}},
        {node_package, ".*", {git, "git://github.com/basho/node_package.git", {branch, "develop"}}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", {tag, "0.78"}}}
        ]}.

{sub_dirs, ["rel", "apps/machi"]}.
{lib_dirs, ["apps/machi"]}.
