%% {mode, {rate,10}}.
{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 46}.

{code_paths, ["/tmp"]}.
{driver, file0}.

% {file0_start_listener, 7071}.

{value_generator_source_size, 16001001}.
{key_generator, <<"32k-archive">>}.

%% variations of put

{operations, [{keygen_valuegen_then_null, 1}]}.
{value_generator, {fixed_bin, 32768}}.
%{operations, [{append_local_server, 1}]}.
{operations, [{append_remote_server, 1}]}.
%{operations, [{append_local_server, 1}, {append_remote_server, 1}]}.

%% variations of get

%% %% perl -e 'srand(time); $chunksize = 32768 ; foreach $file (@ARGV) { @fi = stat($file); $size = $fi[7]; $base = $file; $base =~ s|[^/]*/||g; for ($i = 0; $i < $size; $i += $chunksize) { printf "%d R %016x %08x %s\n", rand(999999), $i, $chunksize, $base; } }' data/* | sort -n | awk '{print $2, $3, $4, $5}' > /tmp/input.txt
%% {key_generator, {file_line_bin, "/tmp/input.txt"}}.
%% {value_generator_source_size, 1}.
%% {operations, [{read_raw_line_local, 1}]}.
