[
 {machi, [
          %% Data directory for all FLUs.
          {flu_data_dir, "{{platform_data_dir}}/flu"},

          %% FLU config directory
          {flu_config_dir, "{{platform_etc_dir}}/flu-config"},

          %% Chain config directory
          {chain_config_dir, "{{platform_etc_dir}}/chain-config"},

          %% FLUs to start at app start.
          %% This task has moved to machi_flu_sup and machi_lifecycle_mgr.

          %% Number of metadata manager processes to run per FLU.
          %% Default = 10
          %% {metadata_manager_count, 2},

          %% Platform vars (mirror of reltool packaging)
          {platform_data_dir, "{{platform_data_dir}}"},
          {platform_etc_dir,  "{{platform_etc_dir}}"},

          %% Do not delete, do not put Machi config items after this line.
          {final_comma_stopper, do_not_delete}
         ]
  },
  {lager, [
           {error_logger_hwm, 5000} % lager's default of 50/sec is too low
          ]
  }
].
