[
 {machi, [
          %% Data directory for all FLUs.
          {flu_data_dir, "{{platform_data_dir}}"},

          %% FLUs to start at app start.
          {initial_flus, [
                          %% Remember, this is a list, so separate all tuples
                          %% with a comma.
                          %%
                          %% {Name::atom(), Port::pos_integer(), proplist()}
                          %%
                          %% For example: {my_name_is_a, 12500, []}

                         ]},

          %% Number of metadata manager processes to run per FLU.
          %% Default = 10
          %% {metadata_manager_count, 2}
         ]
  }
].
